Package: sambasearch
Version: 1.0.1-1big1
Depends: bigbashview, nmap, smbclient, samba-common-bin
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:104
Description: Search samba shares in your network.

