Package: sambasearch
Version: 1.0.0-1big1
Depends: bigbashview, nmap, smbclient
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:104104
Description: Search samba shares in your network.

